@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Collab</h1>
    <p class="lead">Manage Users, Groups, Events, and YouTube content with ease.</p>
    <hr />
    <div class="row mt-4">
        <div class="col-md-3">
            <a href="/Users" class="btn btn-primary btn-block">Manage Users</a>
        </div>
        <div class="col-md-3">
            <a href="/Groups" class="btn btn-success btn-block">Manage Groups</a>
        </div>
        <div class="col-md-3">
            <a href="/Events" class="btn btn-warning btn-block">Manage Events</a>
        </div>
        <div class="col-md-3">
            <a href="/YouTubeCategories" class="btn btn-info btn-block">Manage YouTube Categories</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 offset-md-3">
            <a href="/YouTubeVideos" class="btn btn-danger btn-block">Manage YouTube Videos</a>
        </div>
    </div>
</div>
